.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .gallery-image {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .gallery-image {
    width: 33.33%;
  }
}

@media (min-width: 992px) {
  .gallery-image {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .gallery-image {
    width: 20%;
  }
}



